body * {
   box-sizing: border-box;
}
.section_descr-wrapper {
   max-height: 0;
   overflow-y: scroll;
   -ms-overflow-style: auto;
   scrollbar-color: #d2d2d2 #f5f5f5;
   scrollbar-width: thin;
   border: 1px solid red;
}
.section_descr-wrapper::-webkit-scrollbar-thumb {
   background-color: #d2d2d2;
   border-radius: 0;
   border: 0;
   -webkit-border-radius: 0;
}
.section_descr-wrapper::-webkit-scrollbar-track {
   background-color: #f5f5f5;
   border-radius: 0;
}
.scrollable::-webkit-scrollbar-corner {
   background-color: #f5f5f5;
}
.section_descr-wrapper::-webkit-scrollbar {
   width: 5px;
   background-color: #f5f5f5;
}
